.container {
    margin: 25px;
    
    .logo {
        width: 60px;
        height: 60px;
    
        &__image {
            width: 60px;
            height: 60px;
        }
    }
    .wrapper {
        margin: 25px;
    
        a {
            margin-top: 5px;
            color: black;
            text-decoration: none;
    
            &:hover {
                text-decoration: underline;
            }
        }

        .error {
            color: #a94442;
            background: #f2dede;
            border: 1px solid #e4b3b3;
            border-radius: 2px;
            padding: 8px;
            font-size: 14px;
            font-weight: 400;
            margin: 0 0 10px;
        }
    }
}