<div *ngIf="user" class="container" fxLayout="row" fxLayoutAlign="center center">
    <form>
        <div class="uploader">
            <app-image-uploader (event)="giveImage($event)"></app-image-uploader>
        </div>
    </form>

    <div class="user">
        <p>User ID: <strong>{{ user.uid }}</strong></p>
        <p>Email: <strong>{{ user.email }}</strong></p>
        <div>
            <span>Go back to Home?</span>
            <a mat-icon-button [routerLink]="['/todo']">
                <mat-icon>home</mat-icon>
            </a>
        </div>
        
        <div>
            <span>Delete account?</span>
            <button mat-icon-button (click)="deleteUser()">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
</div>