.container {
    margin: 25px;

    .uploader {
        position: relative;
        width: 200px;
        height: 200px;
        border: 1px solid black;
    }

    .user {
        margin-left: 15px;
    }
}