.dashboard {
    margin: 30px;

    .sidenav {
    
        button {
            width: 200px;
            font-size: 18px;
            padding: 10px;
            text-align: left;
            margin-top: 10px;
        }
    }
}