.container {
    margin: 50px;

    .add {

        button{
            background-color: gainsboro;
        }
    }

    .todo {
    
        &__list {
            list-style: none;
    
            &__check {
                cursor: pointer;
            }
        }
    }
}