<div *ngIf="data" fxLayoutAlign="space-evenly center" fx-layout-w>
    <mat-card class="card" *ngFor="let item of data">
        <img mat-card-image src="{{ item.image }}">
        <hr>
        <mat-card-content>
            <h4 class="name">{{ item.name }}</h4>
            <p class="description">{{ item.description }}</p>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="space-between center">
            <button mat-flat-button color="primary">Add to cart</button>
            <button mat-flat-button color="primary">More info</button>
        </mat-card-actions>
    </mat-card>
</div>